@import 'variables';
@import 'mixins';

body {
    position: relative;
    font-family: "Poppins", serif;
    background-color: $light-theme-body;
}

.button-primary {
    @include button(white, $light-theme-primary, 20px 64px, $light-theme-secondary, white);
}