@import 'mixins';
@import 'variables';

.gift {

    &__container {
        @include container;
        @include section-space;

        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 48px;
    }

    &__title {
        font-size: $mobile-fz-large;
        font-weight: 600;

        color: var(--title-color);
    }

    &__cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 24px;
    }

    &__card {
        position: relative;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;

        background-color: var(--container-color);

        width: calc(50% - 60px);

        border-radius: 12px;
        padding: 24px;

        &-text {
            display: flex;
            flex-direction: column;
            gap: 4px;

            text-align: left;

            &-cost {
                font-size: $mobile-fz-medium;
                font-weight: 600;

                color: var(--title-color);
            }

            &-name {
                font-size: $mobile-fz-small;
                font-weight: 400;

                color: var(--text-color);
            }
        }

        &-image {
            margin: 0 auto;
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
            }
        }

        &-like {
            position: absolute;
            top: 16px;
            right: 16px;
        }
    }
}