@import 'variables';
@import 'mixins';

.giving {

    &__container {
        @include container;
        display: flex;
        flex-direction: column;
        align-items: center;


        padding-top: 48px;
        padding-bottom: 32px;
    }

    &__title {
        font-size: $mobile-fz-large;
        font-weight: 600;

        text-align: center;

        color: var(--title-color);
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 40px;
        margin-top: 48px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        
        width: 40%;

        &-icon {
            width: 100px;
            height: 100px;
            object-fit: cover;

            margin-bottom: 8px;
        }

        &-title {
            font-size: $mobile-fz-medium;
            font-weight: 600;

            color: var(--title-color);

            margin-bottom: 4px;
        }

        &-desc {
            font-size: $mobile-fz-small;
            font-weight: 400;

            color: var(--text-color);
        }
    }
}