@import 'variables';
@import 'mixins';

.giving {

    &__container {
        @include container;
        @include flex-col;
        align-items: center;

        padding-top: 48px;
        padding-bottom: 32px;
    }

    &__title {
        font-size: $mobile-fz-large;
        font-weight: 600;

        text-align: center;

        color: var(--title-color);
    }

    &__list {
        @include flex-between;
        flex-wrap: wrap;
        gap: 28px;
        margin-top: 48px;

        @include respond-to(medium) {
            width: 80%;
            justify-content: normal;
            flex-wrap: nowrap;
        }

        @include respond-to(x-large) {
            justify-content: space-around;
            gap: 0px;
        }
    }

    &__item {
        @include flex-col;
        @include align-center;
        
        width: 40%;

        &-icon {
            width: 100px;
            height: 100px;
            object-fit: cover;

            margin-bottom: 8px;
        }

        &-title {
            @include font-size(medium);
            font-weight: 600;

            color: var(--title-color);

            margin-bottom: 4px;
        }

        &-desc {
            @include font-size(small);
            font-weight: 400;

            color: var(--text-color);
        }

        @include respond-to(x-large) {
            width: 100%;
        }
    }
}