@import 'mixins';
@import 'variables';

.header {
    &__container {
        @include container;
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        padding-top: 18px;
        padding-bottom: 18px;
    }

    &__logotype {
        display: flex;
        align-items: center;
        gap: 4px;

        &-icon {
            img {
                width: 24px;
                height: 24px;
            }
        }
        
        &-text {
            font-size: $mobile-fz-normal;
            color: var(--title-color);
            font-weight: 500;
        }
    }

    &__navigation {
        display: flex;
        align-items: center;
        gap: 16px;
        &-list {
            &--hidden {
                display: none;
            }
        }
    }

    &__theme-toggle {
        width: 20px;
        height: 20px;

        color: var(--title-color);

    }

    &__menu {
        width: 20px;
        height: 20px;

        svg path {
            fill: var(--title-color);
        }
    }
}