@import 'variables';
@import 'mixins';

.home {
    &__container {
        @include container;
        @include flex-col;

        align-items: center;

        padding-top: 22px;
        padding-bottom: 32px;

        @include respond-to(x-large) {
            flex-direction: row;
            justify-content: space-evenly;
        }
    }

    &__image {
        img {
            width: calc(100% + 8px);
            height: auto;
            object-fit: cover;

            @include respond-to(xx-large) {
                min-width: 400px;
            }
        }
    }

    &__content {
        @include flex-col;
        @include align-center;

        @include respond-to(x-large) {
            align-items: start;
            text-align: left;
        }
    }

    &__title {
        @include font-size(xlarge);
        font-weight: 600;

        color: var(--title-color);

        margin-top: 22px;
    }

    &__text {
        @include font-size(small);
        font-weight: 400;

        color: var(--text-color);

        margin-top: 12px;
    }

    &__button {
        margin-top: 40px;
    }
}