@import 'mixins';
@import 'variables';

.message {

    &__container {
        @include container;
        @include section-space;
    }
    
    &__content {
        @include flex-col;
        @include align-center;
        gap: 35px;

        padding: 40px 24px;
        background-color: var(--primary-color);
        border-radius: 20px;

        @include respond-to(x-large) {
            flex-direction: row;
            justify-content: space-evenly;

            border-radius: 32px
        }
    }

    &__form {

        &-title {
            @include font-size(large);
            font-weight: 600;

            color: white;

            margin-bottom: 24px;

            @include respond-to(x-large) {
                text-align: left;
            }
        }

        &-input {
            display: flex;
            width: 100%;

            margin-bottom: 12px;

            input {
                width: 100%;
                border: none;
                padding: 18px 0px;
                padding-left: 24px;
                border-radius: 64px;
            }
        }
    }

    &__image {

        img {
            max-width: 200px;
            transform: rotate3d(1, 1, 4, 15deg);

            @include respond-to(x-large) {
                max-width: 350px;
            }
        }
    }
}