@mixin container {
    width: 80%;
    margin: 0 auto;
    background-color: $light-theme-body;
}

@mixin button($color, $background-color, $padding, $hover-background-color, $hover-color) {
    color: white;
    background-color: $background-color;
    padding: $padding;
    border-radius: 64px;

    &:hover {
        background-color: $hover-background-color;
        color: $hover-color;
    }
}