@import 'variables';
@import 'mixins';

.mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;

    background-color: white;

    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.5);

    &__container {
        @include container;
        margin-top: 18px;
        margin-bottom: 64px;
        display: flex;
        flex-direction: column;
    }

    &__close {
        display: flex;
        justify-content: flex-end;

        margin-bottom: 22px;

        img {
            width: 24px;
            height: 24px;
        }
    }

    &__nav {
        margin: 0 auto;

        &-list {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 24px;
        }

        &-item {
            font-size: $mobile-fz-normal;
            color: $light-theme-title;
            font-weight: 500;
        }
    }

    &--hidden {
        display: none;
    }
}