@import 'mixins';
@import 'variables';

.swiper {
    width: 100vw;
    height: 100%;
    background-color: var(--body-color);

    &-slide {
      font-size: 18px;
      display: flex;
      justify-content: center;
      flex-shrink: 1;
      width: 230px;

      @include align-center;
    }
  
    &-wrapper {
      margin-bottom: 48px;
    }
  
    &-pagination-bullet-active {
      background-color: $light-theme-primary;
    }
  }