@import 'mixins';
@import 'variables';

.swiper {
    width: 100%;
    height: 100%;
    background-color: var(--body-color);

    &-slide {
      text-align: center;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 1;
      width: 230px;
    }
  
    &-wrapper {
      margin-bottom: 48px;
    }
  
    &-pagination-bullet-active {
      background-color: $light-theme-primary;
    }
  }