// Light theme colors
$light-theme-body: rgb(246, 246, 246);
$light-theme-container: rgb(255, 255, 255);
$light-theme-primary: rgba(220, 56, 69, 1);
$light-theme-secondary: rgba(212, 43, 57, 1);
$light-theme-title: rgba(40, 37, 37, 1);
$light-theme-text: rgba(93, 86, 86, 1);
$light-theme-text-alt: rgba(145, 136, 137, 1);
$light-theme-shadow: rgba(34, 60, 80, 0.2);

// Dark theme colors
$dark-theme-body: rgba(37, 24, 25, 1);
$dark-theme-container: rgb(29, 20, 20);
$dark-theme-primary: rgba(219, 77, 89, 1);
$dark-theme-secondary: rgba(212, 43, 57, 1);
$dark-theme-title: rgba(243, 242, 242, 1);
$dark-theme-text: rgba(194, 189, 189, 1);
$dark-theme-text-alt: rgba(145, 136, 137, 1);
$dark-theme-shadow: rgba(0, 0, 0, 0.2);

// Define CSS variables
:root {
    --body-color: #{$light-theme-body};
    --container-color: #{$light-theme-container};
    --primary-color: #{$light-theme-primary};
    --secondary-color: #{$light-theme-secondary};
    --title-color: #{$light-theme-title};
    --text-color: #{$light-theme-text};
    --text-alt-color: #{$light-theme-text-alt};
    --box-shadow-color: #{$light-theme-shadow};
}

// Dark theme styles
body.dark-theme {
    --body-color: #{$dark-theme-body};
    --container-color: #{$dark-theme-container};
    --primary-color: #{$dark-theme-primary};
    --secondary-color: #{$dark-theme-secondary};
    --title-color: #{$dark-theme-title};
    --text-color: #{$dark-theme-text};
    --text-alt-color: #{$dark-theme-text-alt};
    --box-shadow-color: #{$dark-theme-shadow};

}

// font sizes desktop
$desktop-fz-smaller: 13px;
$desktop-fz-small: 14px;
$desktop-fz-normal: 16px;
$desktop-fz-medium: 20px;
$desktop-fz-large: 24px;
$desktop-fz-xlarge: 36px;

// font sizes mobile
$mobile-fz-smaller: 12px;
$mobile-fz-small: 13px;
$mobile-fz-normal: 15px;
$mobile-fz-medium: 16px;
$mobile-fz-large: 20px;
$mobile-fz-xlarge: 24px;




